<!-- ==================================
 *      e j D i c t o  info             *
 * ==================================== *
 * (c)2012-2020 - Patrick Cardona       *
 * Licence GPL version 3 ou ultérieure  *
 * VOIR la licence complète à la racine *
 * ==================================== -->

<!-- Template : pied de page
  piedTemplate.hbs
-->

<!-- Pied de page -->

    <footer class="w3-bottom w3-center fonce">
      Présentation de ejDicto {{version}} &ndash; &copy; 2020 Patrick Cardona <span class="w3-hide-small">|</span> 
      Hébergement&nbsp;: <a title="site hébergeur" 
      href="https://github.com" 
      target="_blank" rel="noreferrer noopener" style="text-decoration: none">
      GitHub
      </a>
    </footer>