<!-- ==================================
 *     e j D i c t o    info            *
 * ==================================== *
 * (c)2012-2020 - Patrick Cardona       *
 * Licence GPL version 3 ou ultérieure  *
 * VOIR la licence complète à la racine *
 * ==================================== -->
 
 <!-- accueilTemplate.hbs -->

 <div class="w3-container" id="page_accueil">
   <h1 class="w3-wide w3-center texte-fonce" >{{{encodeChaine bienvenue }}}</h1>
   {{>diaporama img}}
 </div> 

